body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
}

.imagen-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../Imagenes/fondo5jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: -1;
}

.nav {
    margin: 0px;
    display: flex;
    list-style: none;
    padding: 0px;
    background-color: rgb(76, 166, 214); 
    margin: 0;
    justify-content: center;
    
}

nav li {
    display: inline-block;
    margin: 0px;
    
}

nav a {
    color: rgb(9, 9, 9);
    padding:40px;
    text-decoration:none;
  }

nav a:hover {
    color: #000;
}

.imagenlogo {
  width: 100%;  
  background-color: #ffff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position:relative;
  z-index: 1;
}

.imagenlogo img {
  height: 400px;
  width:auto;
  max-width: 100%;
  display: block;
}
.imagenlogo:hover{
    opacity: 0;
    visibility: visible;
    transition-duration: 1s;
}

.imagenlogo:hover + .sobre-nosotros {
  opacity: 1;
  pointer-events: auto;
}
.contenedor {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.contenedor h2 {
    border-radius: 5px;
    display: block;
    padding: 0px;
    color: rgb(76, 166, 214);
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content; 
}

.sobre-nosotros {
    background-color: #ffffff10;
    top:10%;
    margin-left: 400px;
    border-radius: 50px;
    width: 50%;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 10;
    background-color: #ffffff10;
    position: absolute;
    text-align: center;
    
}

.sobre-nosotros:hover{
    transition-duration: 3s;
}
.container {
    width: 100%;
    background-color: #ffffff10;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
}

.servicio {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 15px;
    background: #4d4b4b71;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicio img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.servicio:hover {
    border: 3px solid rgb(76, 166, 214);
}

.rejilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rejilla :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.contacto {
  padding: 40px;
  text-align: center;
    
}

.contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 5px;
}
.contacto input, .contacto textarea {
    width: 40%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contacto button {
    padding: 10px;
    background-color: rgb(76, 166, 214);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    color: black;
}
.select-servicio {
  width: 20%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.select-servicio:hover {
  border-color: #007BFF;
}

.select-servicio:focus {
  border-color: #007BFF;
  outline: none;
  background-color: #fff;
}

.select-servicio option {
  padding: 10px;
  background-color: white;
  color: #333;
}

footer {
    background-color:  rgb(76, 166, 214);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer-text {
    text-align: left;
}

.redes {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.redes li {
    margin-left: 15px;
}
