<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>La última tecnología para ayudarte</h1>
    <p>Estamos para ayudarte</p>
    <button onclick="document.getElementById('login').style.display='block'">
  Portal Pacientes
    </button>
    <div id="login" style="display:none;">
      <form method="POST" action="/login">
        <h2>Login</h2>
        <label>user:</label>
        <input type="text" name="usuario" required><br>
        <label>password:</label>
        <input type="password" name="contraseña" required><br>
        <button type="submit">Ingresar</button>
      </form>
    </div>
      <a href="/turnos" style="text-decoration: none; color: inherit;">
        Agenda de Turnos
      </a>

    <footer>
      <p>© <%= new Date().getFullYear() %> Mi Aplicación</p>
    </footer>
  </body>
</html>