<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/estilos.css" />
  </head>
  <body>
    <h1>La última tecnología para ayudarte</h1>
    <p>Estamos para ayudarte</p>
    <button onclick="document.getElementById('login').style.display='block'">
  Portal Pacientes
    </button>
    <div id="login" style="display:none;">
      <form method="POST" action="/login">
        <h2>Login Administrador</h2>
        <label>Email:</label>
        <input type="email" name="email" required value="admin@gmail.com"><br>
        <label>Password:</label>
        <input type="password" name="password" required value="Admin2345"><br>
        <button type="submit">Ingresar</button>
        <button type="button" onclick="document.getElementById('login').style.display='none'">Cancelar</button>
      </form>
    </div>
      <a href="/turnos" style="text-decoration: none; color: inherit;">
        Agenda de Turnos
      </a>

    <footer>
      <p>© <%= new Date().getFullYear() %> Mi Aplicación</p>
    </footer>
  </body>
</html>