body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto evita el scroll lateral */
  max-width: 100vw;
}

main {
  flex: 1;
}

h2 {
  border-radius: 5px;
  display: block;
  padding: 0px;
  color: rgb(76, 166, 214);
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content; 
}

.imagen-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../Imagenes/fondo5jpg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: -1;
}
.nav {
  margin: 0px;
  display: flex;
  list-style: none;
  padding: 0px;
  background-color: rgb(76, 166, 214); 
  margin: 0;
  justify-content: center;
  
}

nav li {
  display: inline-block;
  margin: 0px;
  
}

nav a {
  color: rgb(9, 9, 9);
  padding:40px;
  text-decoration:none;
}

nav a:hover {
  color: #000;
}


.descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
  margin: 0px;
  padding: 15px;
}


.galeria {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.contenedor-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.contenedor-imagenes img {
  width: 100%;
  height: 250px; 
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.contenedor-imagenes img:hover {
  transform: scale(1.05);
}


footer {
  background-color:  rgb(76, 166, 214);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.redes {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

.redes li {
  margin-left: 15px;
}
